/*...................font integration start..................*/

@font-face{
    font-family:pTsans-regular ;
    src: url(../fonts/PTN57F.ttf);
}
@font-face{
    font-family:pTsans-bold ;
    src: url(../fonts/PTS75F.ttf);
}
/*...................font integration end..................*/

body{

margin: 0;

padding: 0;

/* font-family: pTsans-regular; */

font-size: 16px;

font-weight: 400;

/* color: #898989; */
}

/*...................header start..................*/
header{

background-color: #FCDB00;
}

.container{

margin: 0 auto;

padding: 30px 0;

width: 80%;
}

.content{

overflow: hidden;

/* background-color: yellow; */
}
.logo{
    padding-top: 10px;
    width: 15%;
    float: left;
}
.logo a{}
.logo a img{}

.menu{width: 50%;float: right;}
.menu ul{
    float: right;
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
    margin: 0 35px;
    font-family: 'pTsans-bold';
    font-size: 22px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.menu ul li:last-child a{
    margin-right: 0;
}
.menu ul li a:hover{
    
}

/*...................header end..................*/
/*...................banner start..................*/

.banner{
    background-color: #;
    background-color: #FCDB00;
}
.first_wrapper{
    /* text-align: center; */
}
.second_wrapper{
    overflow: hidden;
}
.content1{
    width: 35%;
    float: left;
}
.content1 h1{}
.title{
    font-family: pTsans-bold;
    font-size: 32px;
    font-weight: 600;
    color: black;
}
.content1 p{}
.simple{
    font-family: pTsans-regular;
    font-size: 20px;
    font-weight: 400;
    color: #313841;
}
.light{
    font-family: pTsans-regular;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    padding: 0 5px;
}
.content1 p{}
.images{}
.images ul{
    float: left;
    margin-left: -60px;
}
.images ul li{
    list-style: none;
    float: left;
}
.images ul li a{
    margin: 0 20px;
    display: inline-block;
}
.images ul li a img{}
.phone{
    margin-right: -73px;
    width: 45%;
    float: right;
}
.phone img{}
.dot{
    text-align: center;
    padding-top: 50px;
}
.dot img{}




/*...................banner end..................*/

/*...................feature start..................*/

.feature{

}
.f{}
.feature_con{
        margin: 0 auto;
        padding-top: 40px;
       width: 65%;
       text-align: center;
}
.feature_con h1{}
.feature_con p{}

/*...................feature end..................*/



/*...................feature content start..................*/

.f_content{
    padding-bottom: 40px;
}

.fc_content1{
    
overflow: hidden;
}
.single{

}
.single {
    margin: 0 20px;
    width: 28%;
    overflow: hidden;
    float: left;
    margin-bottom: 30px;

}

.fc_img{
   
padding-top: 20px;
   
width: 15%;
   
float: left;
}
.fc_img img{
  
}
.fc_hp{
    width: 75%;
    float: right;
}
.fc_hp h2{

}
.title1{
    margin: 0;
    font-family: 'pTsans-regular';
    font-size: 27px;
    font-weight: 500;
}
.fc_hp p{}




/*...................feature content end..................*/


/*...................keep section start..................*/
.keep{

background-color: black;

}
.yellow{
    
    color: #fcdb00;
}
.k_p{
    color: #898989;
}
.form{

margin: 0 auto;

width: 70%;

text-align: center;

padding-top: 15px;
}

.c_form{}

.c_form input{
    width: 75%;
    height: 32px;
}

.c_form button{
    margin-left: 10px;
    width: 16%;
    height: 40px;
    background-color: #fcdb00;
    border-radius: 5px;
}

.b_s{
         
font-family: pTsans-bold;
         
font-size: 16px;
         
font-weight: 600;
         
color: black;
}

.k_img{
    margin: 0 auto;
    width: 40%;
    padding: 50px 0;
}
.k_img ul{
    margin: 0;
}
.k_img ul li{
    margin: 0 18px;
    /* padding: 50px 0; */
    list-style: none;
    float: left;
}
.k_img ul li a{
    display: inline-block;
}
/*...................keep section end..................*/
/*...................footer start..................*/

footer{
    background-color:black;

}
.f_sec{
    overflow: hidden;
    padding-bottom: 50px;
}
.f_single{

    width: 20%;
    float: left;
}
.f_single p{
      padding: 0 5px;
}
.f_single address span{}
.f_single ul{}
.f_single ul{}
.f_single ul li{
    list-style: none;
}
.f_single ul li a{
    text-decoration: none;
    color: #ffffff;
}
.f-text{
    color: #ffffff;
    padding: 0 0;
}
.f_single ul li:last-child a{
    margin-right: 0;
}


/*...................footer end..................*/

